



p {
    font-size: 15px;
    margin: 0;
    color: #dadada;

}

#profileImage > #profImg {
    min-width: 200px;
    min-height: 200px;
    max-width: 100px;
    max-height: 400px;
    object-fit: fill;
}

h2{
    color: #dadada;
}

#profileMain{
    position: absolute;
    border: solid 1px #343434 !important;
    background-color: #282828;
    left: 550px;
    margin-top: 100px;
    width: 800px;
    height: 100vw;
    padding: 15px;
}