<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/profile.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title th:text="${session.username}"></title>
</head>
<body>
<div th:insert="~{template}"></div>

<div id="profileMain" >
    <div id="leftSide" th:if="${user.name!='Такого пользователя не найдено'}">
        <div id="nameOfUser">
            <h2 th:text="${user.name}"></h2>
        </div>
        <div id="profileImage">
            <img id="profImg" src="https://cont.ws/uploads/pic/2022/3/test-podhodit-li-tebe-udalenka-ne-frilans-15.jpeg"/>
        </div>
        <div id="profileActions">
            <button type="button" th:if="${session.username != user.name}" class="btn btn-success">Добавить в друзья</button>
            <button type="button" th:if="${session.username != user.name}" class="btn btn-success">Написать сообщение</button>
            <button type="button" th:if="${session.username != user.name}" class="btn btn-success">Заблокировать</button>
        </div>
        <div id="friendList">
            <p>Ваши друзья(0): </p>
            <div id="friendListFriends">
            </div>
        </div>

    </div>
    <div id="aboutMe" th:if="${user.name!='Такого пользователя не найдено'}">
        <h3>Описание</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad architecto consequatur deleniti dolor exercitationem illum impedit iure magnam minima modi natus, nisi officia perferendis possimus quidem quod saepe sed suscipit?</p>
    </div>
    <div id="newsMe" th:if="${user.name!='Такого пользователя не найдено'}">

    </div>
    <div th:if="${user.name=='Такого пользователя не найдено'}">
        <p>Такого пользователя не найдено!</p>
    </div>
    <div id="registrationButtons" th:if="${session.username == null}">
        <p>Вы не вошли в аккаунт, для начала войдите в аккаунт или зарегистрируйтесь</p>
        <button type="button" class="btn btn-success"><a href="/register">Зарегистрироваться</a></button>
        <button type="button" class="btn btn-success"><a href="/login">Войти</a></button>
    </div>
<button th:onclick="update()"></button>

</div>

<script src="../js/exit.js">

</script>
</body>
</html>